*, *::before, *::after {
    box-sizing: initial;
}

html {
    background-color: var(--web-wash);
    min-height: -webkit-fill-available;
}

body {
    overflow-y: visible;
}

table td, table th {
  padding: 7px;
}

:root, .__fb-light-mode {
    --fds-active-icon: #3578E5;
    --fds-attachment-footer-background: #F2F3F5;
    --fds-black: #000000;
    --fds-black-alpha-05: rgba(0, 0, 0, 0.05);
    --fds-black-alpha-10: rgba(0, 0, 0, 0.1);
    --fds-black-alpha-15: rgba(0, 0, 0, 0.15);
    --fds-black-alpha-20: rgba(0, 0, 0, 0.2);
    --fds-black-alpha-30: rgba(0, 0, 0, 0.3);
    --fds-black-alpha-40: rgba(0, 0, 0, 0.4);
    --fds-black-alpha-50: rgba(0, 0, 0, 0.5);
    --fds-black-alpha-60: rgba(0, 0, 0, 0.6);
    --fds-black-alpha-80: rgba(0, 0, 0, 0.8);
    --fds-blue-05: #ECF3FF;
    --fds-blue-30: #AAC9FF;
    --fds-blue-40: #77A7FF;
    --fds-blue-60: #1877F2;
    --fds-blue-70: #2851A3;
    --fds-blue-80: #1D3C78;
    --fds-blue-95: #E7F3FF;
    --fds-blue-badge: #1877F2;
    --fds-blue-link: #1877F2;
    --fds-button-icon: #444950;
    --fds-button-text: #444950;
    --fds-comment-background: #F2F3F5;
    --fds-dark-mode-gray-35: #CCCCCC;
    --fds-dark-mode-gray-50: #828282;
    --fds-dark-mode-gray-70: #4A4A4A;
    --fds-dark-mode-gray-80: #373737;
    --fds-dark-mode-gray-90: #282828;
    --fds-dark-mode-gray-100: #1C1C1C;
    --fds-dark-ui-card-border: #282828;
    --fds-dark-ui-cards: #1C1C1C;
    --fds-dark-ui-disabled-icon: #373737;
    --fds-dark-ui-divider: #282828;
    --fds-dark-ui-medium-text: #828282;
    --fds-dark-ui-nav-bar: #1C1C1C;
    --fds-dark-ui-primary-icon: #828282;
    --fds-dark-ui-primary-text: #CCCCCC;
    --fds-dark-ui-secondary-icon: #4A4A4A;
    --fds-dark-ui-secondary-text: #4A4A4A;
    --fds-dark-ui-tab-bar: #1C1C1C;
    --fds-dark-ui-wash: #000000;
    --fds-data-mango: #f5bb41;
    --fds-disabled-icon: #BEC3C9;
    --fds-disabled-text: #BEC3C9;
    --fds-divider-on-wash: #CCD0D5;
    --fds-divider-on-white: #DADDE1;
    --fds-fast: 200ms;
    --fds-fb-blue-70: #4267B2;
    --fds-fb-blue-75: #385898;
    --fds-gray-00: #F5F6F7;
    --fds-gray-05: #F2F3F5;
    --fds-gray-10: #EBEDF0;
    --fds-gray-20: #DADDE1;
    --fds-gray-25: #CCD0D5;
    --fds-gray-30: #BEC3C9;
    --fds-gray-45: #8D949E;
    --fds-gray-70: #606770;
    --fds-gray-80: #444950;
    --fds-gray-90: #303338;
    --fds-gray-100: #1C1E21;
    --fds-green-30: #86DF81;
    --fds-green-55: #00A400;
    --fds-green-60: #008C00;
    --fds-green-70: #006900;
    --fds-highlight: #3578E5;
    --fds-highlight-cell-background: #ECF3FF;
    --fds-list-cell-pressed: rgba(0, 0, 0, 0.05);
    --fds-mobile-wash: #CCD0D5;
    --fds-nav-bar-background: #4267B2;
    --fds-negative: #FA383E;
    --fds-notification-badge: #FA383E;
    --fds-placeholder-text: #8D949E;
    --fds-positive: #00A400;
    --fds-primary-button-pressed: #77A7FF;
    --fds-primary-icon: #1C1E21;
    --fds-primary-text: #1C1E21;
    --fds-red-55: #FA383E;
    --fds-secondary-button-pressed: rgba(0, 0, 0, 0.05);
    --fds-secondary-icon: #606770;
    --fds-secondary-text: #606770;
    --fds-slow: 400ms;
    --fds-soft: cubic-bezier(0.08,0.52,0.52,1);
    --fds-spectrum-aluminum: #A3CEDF;
    --fds-spectrum-aluminum-dark-1: #8EBFD4;
    --fds-spectrum-aluminum-dark-2: #6CA0B6;
    --fds-spectrum-aluminum-dark-3: #4B8096;
    --fds-spectrum-aluminum-tint-15: #B0D5E5;
    --fds-spectrum-aluminum-tint-30: #BFDDE9;
    --fds-spectrum-aluminum-tint-50: #D1E7F0;
    --fds-spectrum-aluminum-tint-70: #E4F0F6;
    --fds-spectrum-aluminum-tint-90: #F6FAFC;
    --fds-spectrum-blue-gray: #5F6673;
    --fds-spectrum-blue-gray-dark-1: #4F5766;
    --fds-spectrum-blue-gray-dark-2: #303846;
    --fds-spectrum-blue-gray-dark-3: #23272F;
    --fds-spectrum-blue-gray-tint-15: #777D88;
    --fds-spectrum-blue-gray-tint-30: #8F949D;
    --fds-spectrum-blue-gray-tint-50: #AFB3B9;
    --fds-spectrum-blue-gray-tint-70: #CFD1D5;
    --fds-spectrum-blue-gray-tint-90: #EFF0F1;
    --fds-spectrum-cherry: #F35369;
    --fds-spectrum-cherry-dark-1: #E04C60;
    --fds-spectrum-cherry-dark-2: #B73749;
    --fds-spectrum-cherry-dark-3: #9B2B3A;
    --fds-spectrum-cherry-tint-15: #F36B7F;
    --fds-spectrum-cherry-tint-30: #F58796;
    --fds-spectrum-cherry-tint-50: #F8A9B4;
    --fds-spectrum-cherry-tint-70: #FBCCD2;
    --fds-spectrum-cherry-tint-90: #FEEEF0;
    --fds-spectrum-grape: #8C72CB;
    --fds-spectrum-grape-dark-1: #7B64C0;
    --fds-spectrum-grape-dark-2: #6A51B2;
    --fds-spectrum-grape-dark-3: #58409B;
    --fds-spectrum-grape-tint-15: #9D87D2;
    --fds-spectrum-grape-tint-30: #AF9CDA;
    --fds-spectrum-grape-tint-50: #C6B8E5;
    --fds-spectrum-grape-tint-70: #DDD5F0;
    --fds-spectrum-grape-tint-90: #F4F1FA;
    --fds-spectrum-lemon: #FCD872;
    --fds-spectrum-lemon-dark-1: #F5C33B;
    --fds-spectrum-lemon-dark-2: #E1A43B;
    --fds-spectrum-lemon-dark-3: #D18F41;
    --fds-spectrum-lemon-tint-15: #FFE18F;
    --fds-spectrum-lemon-tint-30: #FFE8A8;
    --fds-spectrum-lemon-tint-50: #FFECB5;
    --fds-spectrum-lemon-tint-70: #FEF2D1;
    --fds-spectrum-lemon-tint-90: #FFFBF0;
    --fds-spectrum-lime: #A3CE71;
    --fds-spectrum-lime-dark-1: #89BE4C;
    --fds-spectrum-lime-dark-2: #71A830;
    --fds-spectrum-lime-dark-3: #629824;
    --fds-spectrum-lime-tint-15: #B1D587;
    --fds-spectrum-lime-tint-30: #BEDD9C;
    --fds-spectrum-lime-tint-50: #D1E6B9;
    --fds-spectrum-lime-tint-70: #E4F0D5;
    --fds-spectrum-lime-tint-90: #F6FAF1;
    --fds-spectrum-orange: #F7923B;
    --fds-spectrum-orange-dark-1: #E07A2E;
    --fds-spectrum-orange-dark-2: #CC5D22;
    --fds-spectrum-orange-dark-3: #AC4615;
    --fds-spectrum-orange-tint-15: #F9A159;
    --fds-spectrum-orange-tint-30: #F9B278;
    --fds-spectrum-orange-tint-50: #FBC89F;
    --fds-spectrum-orange-tint-70: #FCDEC5;
    --fds-spectrum-orange-tint-90: #FEF4EC;
    --fds-spectrum-pink: #EC7EBD;
    --fds-spectrum-pink-dark-1: #EC6FB5;
    --fds-spectrum-pink-dark-2: #D4539B;
    --fds-spectrum-pink-dark-3: #B0377B;
    --fds-spectrum-pink-tint-15: #EF92C7;
    --fds-spectrum-pink-tint-30: #F2A5D1;
    --fds-spectrum-pink-tint-50: #F6BFDF;
    --fds-spectrum-pink-tint-70: #F9D9EB;
    --fds-spectrum-pink-tint-90: #FDF3F8;
    --fds-spectrum-seafoam: #54C7EC;
    --fds-spectrum-seafoam-dark-1: #39AFD5;
    --fds-spectrum-seafoam-dark-2: #2088AF;
    --fds-spectrum-seafoam-dark-3: #186D90;
    --fds-spectrum-seafoam-tint-15: #6BCFEF;
    --fds-spectrum-seafoam-tint-30: #84D8F2;
    --fds-spectrum-seafoam-tint-50: #A7E3F6;
    --fds-spectrum-seafoam-tint-70: #CAEEF9;
    --fds-spectrum-seafoam-tint-90: #EEFAFD;
    --fds-spectrum-skin-1: #F1D2B6;
    --fds-spectrum-skin-1-dark-1: #E2BA96;
    --fds-spectrum-skin-1-dark-2: #DDAC82;
    --fds-spectrum-skin-1-dark-3: #D9A170;
    --fds-spectrum-skin-1-tint-15: #F3D9C1;
    --fds-spectrum-skin-1-tint-30: #F6E0CC;
    --fds-spectrum-skin-1-tint-50: #F8E9DB;
    --fds-spectrum-skin-1-tint-70: #FAF2EA;
    --fds-spectrum-skin-1-tint-90: #FEFBF8;
    --fds-spectrum-skin-2: #D7B195;
    --fds-spectrum-skin-2-dark-1: #CFA588;
    --fds-spectrum-skin-2-dark-2: #C2977A;
    --fds-spectrum-skin-2-dark-3: #AF866A;
    --fds-spectrum-skin-2-tint-15: #DEBDA5;
    --fds-spectrum-skin-2-tint-30: #E5C9B5;
    --fds-spectrum-skin-2-tint-50: #ECD8CB;
    --fds-spectrum-skin-2-tint-70: #F3E8E0;
    --fds-spectrum-skin-2-tint-90: #FBF7F5;
    --fds-spectrum-skin-3: #D8A873;
    --fds-spectrum-skin-3-dark-1: #CD9862;
    --fds-spectrum-skin-3-dark-2: #BA8653;
    --fds-spectrum-skin-3-dark-3: #A77A4E;
    --fds-spectrum-skin-3-tint-15: #E0B588;
    --fds-spectrum-skin-3-tint-30: #E5C29E;
    --fds-spectrum-skin-3-tint-50: #ECD4B9;
    --fds-spectrum-skin-3-tint-70: #F4E5D6;
    --fds-spectrum-skin-3-tint-90: #FCF6F1;
    --fds-spectrum-skin-4: #A67B4F;
    --fds-spectrum-skin-4-dark-1: #A07243;
    --fds-spectrum-skin-4-dark-2: #94683D;
    --fds-spectrum-skin-4-dark-3: #815830;
    --fds-spectrum-skin-4-tint-15: #AE8761;
    --fds-spectrum-skin-4-tint-30: #BC9D7D;
    --fds-spectrum-skin-4-tint-50: #D0B9A2;
    --fds-spectrum-skin-4-tint-70: #E2D5C8;
    --fds-spectrum-skin-4-tint-90: #F6F1ED;
    --fds-spectrum-skin-5: #6A4F3B;
    --fds-spectrum-skin-5-dark-1: #624733;
    --fds-spectrum-skin-5-dark-2: #503B2C;
    --fds-spectrum-skin-5-dark-3: #453223;
    --fds-spectrum-skin-5-tint-15: #8A715B;
    --fds-spectrum-skin-5-tint-30: #9F8A79;
    --fds-spectrum-skin-5-tint-50: #BAACA0;
    --fds-spectrum-skin-5-tint-70: #D5CDC6;
    --fds-spectrum-skin-5-tint-90: #F2EFEC;
    --fds-spectrum-slate: #B9CAD2;
    --fds-spectrum-slate-dark-1: #A8BBC3;
    --fds-spectrum-slate-dark-2: #89A1AC;
    --fds-spectrum-slate-dark-3: #688694;
    --fds-spectrum-slate-tint-15: #C4D2D9;
    --fds-spectrum-slate-tint-30: #CEDAE0;
    --fds-spectrum-slate-tint-50: #DCE5E9;
    --fds-spectrum-slate-tint-70: #EAEFF2;
    --fds-spectrum-slate-tint-90: #F8FAFB;
    --fds-spectrum-teal: #6BCEBB;
    --fds-spectrum-teal-dark-1: #4DBBA6;
    --fds-spectrum-teal-dark-2: #31A38D;
    --fds-spectrum-teal-dark-3: #24917D;
    --fds-spectrum-teal-tint-15: #80D4C4;
    --fds-spectrum-teal-tint-30: #97DCCF;
    --fds-spectrum-teal-tint-50: #B4E6DD;
    --fds-spectrum-teal-tint-70: #D2F0EA;
    --fds-spectrum-teal-tint-90: #F0FAF8;
    --fds-spectrum-tomato: #FB724B;
    --fds-spectrum-tomato-dark-1: #EF6632;
    --fds-spectrum-tomato-dark-2: #DB4123;
    --fds-spectrum-tomato-dark-3: #C32D0E;
    --fds-spectrum-tomato-tint-15: #F1765E;
    --fds-spectrum-tomato-tint-30: #F38E7B;
    --fds-spectrum-tomato-tint-50: #F7AFA0;
    --fds-spectrum-tomato-tint-70: #F9CFC7;
    --fds-spectrum-tomato-tint-90: #FDEFED;
    --fds-strong: cubic-bezier(0.12,0.8,0.32,1);
    --fds-tertiary-icon: #8D949E;
    --fds-white: #FFFFFF;
    --fds-white-alpha-05: rgba(255, 255, 255, 0.05);
    --fds-white-alpha-10: rgba(255, 255, 255, 0.1);
    --fds-white-alpha-15: rgba(255, 255, 255, 0.15);
    --fds-white-alpha-20: rgba(255, 255, 255, 0.2);
    --fds-white-alpha-30: rgba(255, 255, 255, 0.3);
    --fds-white-alpha-40: rgba(255, 255, 255, 0.4);
    --fds-white-alpha-50: rgba(255, 255, 255, 0.5);
    --fds-white-alpha-60: rgba(255, 255, 255, 0.6);
    --fds-white-alpha-80: rgba(255, 255, 255, 0.8);
    --fds-white-text: #FFFFFF;
    --fds-www-wash: #EBEDF0;
    --fds-yellow-20: #FFBA00;
    --header-height: 60px;
    --fds-animation-enter-exit-in: cubic-bezier(0.14, 1, 0.34, 1);
    --fds-animation-enter-exit-out: cubic-bezier(0.45, 0.1, 0.2, 1);
    --fds-animation-swap-shuffle-in: cubic-bezier(0.14, 1, 0.34, 1);
    --fds-animation-swap-shuffle-out: cubic-bezier(0.45, 0.1, 0.2, 1);
    --fds-animation-move-in: cubic-bezier(0.17, 0.17, 0, 1);
    --fds-animation-move-out: cubic-bezier(0.17, 0.17, 0, 1);
    --fds-animation-expand-collapse-in: cubic-bezier(0.17, 0.17, 0, 1);
    --fds-animation-expand-collapse-out: cubic-bezier(0.17, 0.17, 0, 1);
    --fds-animation-passive-move-in: cubic-bezier(0.5, 0, 0.1, 1);
    --fds-animation-passive-move-out: cubic-bezier(0.5, 0, 0.1, 1);
    --fds-animation-quick-move-in: cubic-bezier(0.1, 0.9, 0.2, 1);
    --fds-animation-quick-move-out: cubic-bezier(0.1, 0.9, 0.2, 1);
    --fds-animation-fade-in: cubic-bezier(0, 0, 1, 1);
    --fds-animation-fade-out: cubic-bezier(0, 0, 1, 1);
    --fds-duration-extra-extra-short-in: 100ms;
    --fds-duration-extra-extra-short-out: 100ms;
    --fds-duration-extra-short-in: 200ms;
    --fds-duration-extra-short-out: 150ms;
    --fds-duration-short-in: 280ms;
    --fds-duration-short-out: 200ms;
    --fds-duration-medium-in: 400ms;
    --fds-duration-medium-out: 350ms;
    --fds-duration-long-in: 500ms;
    --fds-duration-long-out: 350ms;
    --fds-duration-extra-long-in: 1000ms;
    --fds-duration-extra-long-out: 1000ms;
    --fds-duration-none: 0ms;
    --accent: hsl(214, 89%, 52%);
    --always-white: #FFFFFF;
    --always-black: black;
    --always-dark-gradient: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
    --always-dark-overlay: rgba(0, 0, 0, 0.4);
    --always-light-overlay: rgba(255, 255, 255, 0.4);
    --always-gray-40: #65676B;
    --always-gray-75: #BCC0C4;
    --always-gray-95: #F0F2F5;
    --attachment-footer-background: #F0F2F5;
    --base-blue: #1877F2;
    --base-cherry: #F3425F;
    --base-grape: #9360F7;
    --base-lemon: #F7B928;
    --base-lime: #45BD62;
    --base-pink: #FF66BF;
    --base-seafoam: #54C7EC;
    --base-teal: #2ABBA7;
    --base-tomato: #FB724B;
    --blue-link: #216FDB;
    --card-background: #FFFFFF;
    --card-background-flat: #F7F8FA;
    --comment-background: #F0F2F5;
    --comment-footer-background: #F6F9FA;
    --dataviz-primary-1: rgb(48,200,180);
    --disabled-button-background: #E4E6EB;
    --disabled-icon: #BCC0C4;
    --disabled-text: #BCC0C4;
    --divider: #CED0D4;
    --event-date: #F3425F;
    --filter-accent: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%);
    --filter-always-white: invert(100%);
    --filter-disabled-icon: invert(80%) sepia(6%) saturate(200%) saturate(120%) hue-rotate(173deg) brightness(98%) contrast(89%);
    --filter-placeholder-icon: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
    --filter-primary-icon: invert(8%) sepia(10%) saturate(200%) saturate(200%) saturate(166%) hue-rotate(177deg) brightness(104%) contrast(91%);
    --filter-secondary-icon: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
    --filter-warning-icon: invert(77%) sepia(29%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(128%) hue-rotate(359deg) brightness(102%) contrast(107%);
    --filter-blue-link-icon: invert(30%) sepia(98%) saturate(200%) saturate(200%) saturate(200%) saturate(166.5%) hue-rotate(192deg) brightness(91%) contrast(101%);
    --filter-positive: invert(37%) sepia(61%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(115%) hue-rotate(91deg) brightness(97%) contrast(105%);
    --filter-negative: invert(25%) sepia(33%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(110%) hue-rotate(345deg) brightness(132%) contrast(96%);
    --font-family-apple: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
    --font-family-default: Helvetica, Arial, sans-serif;
    --font-family-segoe: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    --glimmer-spinner-icon: #65676B;
    --hero-banner-background: #FFFFFF;
    --hosted-view-selected-state: rgba(45, 136, 255, 0.1);
    --highlight-bg: #E7F3FF;
    --hover-overlay: rgba(0, 0, 0, 0.05);
    --media-hover: rgba(68, 73, 80, 0.15);
    --media-inner-border: rgba(0, 0, 0, 0.1);
    --media-outer-border: #FFFFFF;
    --media-pressed: rgba(68, 73, 80, 0.35);
    --messenger-card-background: #FFFFFF;
    --messenger-reply-background: #F0F2F5;
    --overlay-alpha-80: rgba(244, 244, 244, 0.8);
    --overlay-on-media: rgba(0, 0, 0, 0.6);
    --nav-bar-background: #FFFFFF;
    --nav-bar-background-gradient: linear-gradient(to top, #FFFFFF, rgba(255,255,255.9), rgba(255,255,255,0.7), rgba(255,255,255,0.4), rgba(255,255,255,0));
    --nav-bar-background-gradient-wash: linear-gradient(to top, #F0F2F5, rgba(240,242,245.9), rgba(240,242,245,0.7), rgba(240,242,245,0.4), rgba(240,242,245,0));
    --negative: hsl(350, 87%, 55%);
    --negative-background: hsl(350, 87%, 55%, 20%);
    --new-notification-background: #E7F3FF;
    --non-media-pressed: rgba(68, 73, 80, 0.15);
    --non-media-pressed-on-dark: rgba(255, 255, 255, 0.3);
    --notification-badge: #F02849;
    --placeholder-icon: #8A8D91;
    --placeholder-text: #8A8D91;
    --placeholder-text-on-media: rgba(255, 255, 255, 0.5);
    --popover-background: #FFFFFF;
    --positive: #31A24C;
    --positive-background: #DEEFE1;
    --press-overlay: rgba(0, 0, 0, 0.1);
    --primary-button-background: #1877F2;
    --primary-button-background-experiment: #1B74E4;
    --primary-button-pressed: #77A7FF;
    --primary-button-text: #FFFFFF;
    --primary-deemphasized-button-background: #E7F3FF;
    --primary-deemphasized-button-pressed: rgba(0, 0, 0, 0.05);
    --primary-deemphasized-button-pressed-overlay: rgba(25, 110, 255, 0.15);
    --primary-deemphasized-button-text: #1877F2;
    --primary-icon: #050505;
    --primary-text: #050505;
    --primary-text-on-media: #FFFFFF;
    --progress-ring-neutral-background: rgba(0, 0, 0, 0.2);
    --progress-ring-neutral-foreground: #000000;
    --progress-ring-on-media-background: rgba(255, 255, 255, 0.2);
    --progress-ring-on-media-foreground: #FFFFFF;
    --progress-ring-blue-background: rgba(24, 119, 242, 0.2);
    --progress-ring-blue-foreground: hsl(214, 89%, 52%);
    --progress-ring-disabled-background: rgba(190,195,201, 0.2);
    --progress-ring-disabled-foreground: #BEC3C9;
    --scroll-thumb: #BCC0C4;
    --secondary-button-background: #E4E6EB;
    --secondary-button-background-floating: #ffffff;
    --secondary-button-background-on-dark: rgba(0, 0, 0, 0.4);
    --secondary-button-pressed: rgba(0, 0, 0, 0.05);
    --secondary-button-text: #050505;
    --secondary-icon: #65676B;
    --secondary-text: #65676B;
    --secondary-text-on-media: rgba(255, 255, 255, 0.9);
    --section-header-text: #4B4C4F;
    --shadow-1: rgba(0, 0, 0, 0.1);
    --shadow-2: rgba(0, 0, 0, 0.2);
    --shadow-5: rgba(0, 0, 0, 0.5);
    --shadow-8: rgba(0, 0, 0, 0.8);
    --shadow-inset: rgba(255, 255, 255, 0.5);
    --surface-background: #FFFFFF;
    --text-highlight: rgba(24, 119, 242, 0.2);
    --toggle-active-background: #E7F3FF;
    --toggle-active-icon: rgb(24, 119, 242);
    --toggle-active-text: rgb(24, 119, 242);
    --toggle-button-active-background: #E7F3FF;
    --wash: #E4E6EB;
    --web-wash: #F0F2F5;
    --warning: hsl(40, 89%, 52%);
    --dataviz-primary-2: rgb(134,218,255);
    --dataviz-primary-3: rgb(95,170,255);
    --dataviz-secondary-1: rgb(118,62,230);
    --dataviz-secondary-2: rgb(147,96,247);
    --dataviz-secondary-3: rgb(219,26,139);
    --dataviz-supplementary-1: rgb(255,122,105);
    --dataviz-supplementary-2: rgb(241,168,23);
    --dataviz-supplementary-3: rgb(49,162,76);
    --dataviz-supplementary-4: rgb(50,52,54);
}

/* blurry text */
.blurry-text {
   color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.2);
}

/* no select */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}